.btn {
  background-color: var(--primary-color);
  color: white;
  font-size: 18px;
  text-transform: capitalize;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
